.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #402145;
    color: white;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  .user-button {
    font-size: 1rem;
  }
  
  .aside {
    width: 90px;
    background-color: #402145;
    padding: 1rem;
    height: 100vh;
    position: absolute;
    top: 78px; 
    left: 0; 
    z-index: 1; 
  }
  
  .sideNavbar {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
  }
  
  .sideNavbar li {
    padding: 0.5rem 0;
    cursor: pointer;
    color: white;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  
  .main-content {
    padding: 2rem;
  }
  
  .profileIcon {
    filter: brightness(0) invert(1);
}